<!--<div>
  <div>
    <label>
      Company email:
      <input [(ngModel)]="companyData.email" placeholder="Company email" />
    </label><br>
    <label>
      Company title:
      <input [(ngModel)]="companyData.title" placeholder="Company title" />
    </label><br>
  </div>
  <button (click)="addCompany()">Save</button>
</div>-->

<mdb-card>
  <mdb-card-body>
    <!-- Material form register -->
    <form [formGroup]="cardForm">
      <p class="h4 text-center py-4">Register your business</p>

      <!-- Material input text -->
      <div class="md-form">
        <mdb-icon icon="user" class="prefix grey-text"></mdb-icon>
        <input [(ngModel)]="companyData.title" type="text" id="materialFormCardNameEx" formControlName="materialFormCardNameEx" class="form-control" mdbInputDirective>
        <label for="materialFormCardNameEx" class="font-weight-light">Your title of company</label>
      </div>

      <!-- Material input email -->
      <div class="md-form">
        <mdb-icon icon="envelope" class="prefix grey-text"></mdb-icon>
        <input [(ngModel)]="companyData.email" type="email" id="materialFormCardEmailEx" formControlName="materialFormCardEmailEx" class="form-control" mdbInputDirective>
        <label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>
      </div>
      
      <!-- Material input password -->
      <div class="md-form">
        <mdb-icon icon="lock" class="prefix grey-text"></mdb-icon>
        <input type="password" id="materialFormCardPasswordEx" formControlName="materialFormCardPasswordEx" class="form-control"
               mdbInputDirective>
        <label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>
      </div>

      <div class="text-center py-4 mt-3">
        <button (click)="addCompany()" mdbBtn color="cyan" class="waves-light" type="submit" mdbWavesEffect>Register company</button>
      </div>
    </form>
    <!-- Material form register -->
  </mdb-card-body>
</mdb-card>
